html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  color: black;
  font-size: 50px;
}

#map {
<<<<<<< HEAD
  height: 500px;
=======
  height: 300px;
>>>>>>> elton
}

/* Main container flex layout */
#app {
  margin: 10px;
  padding: 10px;
  display: flex;
  height: 100%;
}

/* Left side map */
#map {
  flex: 3;
  height: 100%;
}

/* Right side content */
#rightContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Style for the search bar */
#searchBox {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}
.radiusSlider {
  width: 100%;
}
<<<<<<< HEAD
=======
.radiusSlider2 {
  width: 100%;
}
.autocomplete-list {
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  z-index: 999;
  background: white;
  width: calc(100% - 2px);
}
.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}
.autocomplete-item:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}

#optionsContainer {
    margin-bottom: 10px;
}
>>>>>>> elton
