<!DOCTYPE html>
{% load tailwind_tags %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>index</title>
    {% tailwind_css %}
  </head>
  <body>
    <h1>Dataviz project</h1>
    <p class="text-3xl underline">{{ hello }}</p>


    <!-- Ajouter le fichier JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
